
body {
    background-color: #f2f2f2;    
    color : #fff;
}

.header {
    background-color: #252525 ;  
    color : #fff;
    padding-top: 0em;
    padding-bottom: 0em;

}

.header h1 {
    font-size : 1.8em;
    margin-top : 0.3em;
    margin-bottom: 0.4em;
}

.hero {
    background-color: #1a6e9e;
}

.hero img {
    width : 100%;
    max-width : 500px;
}

.hero h1 {
    text-align: center;
    text-shadow: #136491 0px 2px 3px;
    font:"proxima-nova","lucida grande",arial,sans-serif;
    color : #fff;
    font-size : 2.5em;
}

.hero h2 {
    text-align: center;
    text-transform:uppercase;
    color : #d9edff;
    font-size: 1.5em;
}

.about {
    background-color: #fbf5f5 ;
}

.about-1 h2 {
    color : #ff4a60;
}

.about-2 h2 {
    color : #ffa800;
}

.about-3 h2 {
    color : #81ba1f;
}

.about-4 h2 {
    color : #15a5d7;
}

.download {
    background-color: #E8E9EA;
    color : #6f6f6f;
}

.download h3 {
    color: #ff2e5f;
}

.press {
    background-color: #f6f5f4;    
}

.news {
    padding: 0.2em 0.4em 0.4em 0.4em ;
    margin-bottom: 1em;
    background-color:#fff;
    color: black;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 2px 0px;    
}

.news div {
}

.news h4 {
    width : 100%;
    padding-right : 0.4em;    
    white-space:nowrap;
    overflow:hidden;
}

.news hr {
    width : 90%;    
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.footer {
    background-color: #fbf4ea;
}

.section {
    padding-top : 0.8em;
    padding-bottom : 0.8em;
}

.sub-section {
    padding-top : 0.6em;
    padding-bottom : 1em;
}

.sub-section .container {
    border-bottom: 1px solid #dddddd;    
}

.sub-section-odd {
    background-color : #f7f6f5;
    color : #6f6f6f;
}

.sub-section-even {
    background-color : #f6f5f4;
    color : #6f6f6f;    
}

.title {
    font-size : 2em;       
    padding-bottom : 0.2em;
}
