
body {
    background-color: #f2f2f2;    
    color : #fff;
}

.header {
    background-color: #fbf5f5 ;  
    font-size:2em;
    color : black;
}

.photowall {
    background-color: #fbf4ea;
    display : none;
}

.about {
    background-color: #fbf5f5 ;
}

.download {
    background-color: #81ba1f;
}

.press {
    background-color: #15a5d7;    
}

.footer {
    background-color: #fbf4ea;
}

.footer ul {
    text-align:left;    
}

.footer li {
    display : block;
}

.section {
    padding-top : 0.4em;
    padding-bottom : 0.5em;
}

.sub-section {
    padding-top : 0.2em;
    padding-bottom : 0.8em;
}

.sub-section-odd {
    background-color : #ffa800;
}

.sub-section-even {
    background-color : #ff4a60;
}

.title {
    font-size : 2em;        
    padding-bottom : 0.2em;
}
