
body {
    background-color: #f2f2f2;    
    color : #fff;
}

.header {
    background-color: #fbf5f5 ;  
    color : black;
}

.photowall {
    background-color: #777777;
}

.photowall img {
    width : 100%;
    max-width : 400px;
}

.about {
    background-color: #fbf5f5 ;
}

.download {
    background-color: #81ba1f;
}

.press {
    background-color: #15a5d7;    
}

.news {
    padding: 0.2em 0.4em 0.2em 0.4em ;
    margin-bottom: 0.2em;
    background-color:#fff;
    color: black;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 2px 0px;    
}

.footer {
    background-color: #fbf4ea;
}

.section {
    padding-top : 0.6em;
    padding-bottom : 0.5em;
}

.sub-section {
    padding-top : 0.2em;
    padding-bottom : 0.8em;
}

.sub-section-odd {
    background-color : #ffa800;
}

.sub-section-even {
    background-color : #ff4a60;
}

.title {
    font-size : 2em;       
    padding-bottom : 0.2em;
}
